<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
	<%= "Stock App" %>
      <nav>
	    <ul class="nav pull-right">
        <li><%= link_to "Home", root_path %></li>
  		  <li><%= link_to "Stock Data", stocks_path %></li>
  		  <li><%= link_to "Add Data", stocks_new_path %></li>
      </ul>
      </nav>
    </div>
  </div>
</header>