<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
	<%= "Stock App" %>
      <nav>
	    <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
		  <li><%= link_to "Stock Data", '#' %></li>
		  <li><%= link_to "Add Data", add_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>